<p id="notice"><%= notice %></p>
<div class = "text-center">
	<div class = "panel panel-default">
		<div class = "panel-body">
			<h1>Playlist</h1>
			<h2><%= button_to 'Add a song to the playlist', new_music_path %>
		</div>
	</div>
</div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<table class = "table table-striped table-bordered">
  			<thead>
    				<tr>
      					<th>Band</th>
      					<th>Song</th>
      					<th colspan="3"></th>
    				</tr>
  			</thead>

  			<tbody>
    				<% @music.each do |music| %>
      				<tr>
        				<td><%= music.band %></td>
        				<td><%= music.track %></td>
        				<td><%= link_to 'Remove from playlist', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      				</tr>
    				<% end %>
  			</tbody>
			</table>
		</div>
	</div>
</div>
<br>

