<p id="notice"><%= notice %></p>

<div class = "container">
	<div class = "jumbotron">
		<p>
  		<strong>Band:</strong>
  		<%= @music.band %>
		</p>

		<p>
  		<strong>Song:</strong>
  		<%= @music.track %>
		</p>
		
		<p>
		<strong>User:</strong>
		<%= @music.requestName %>
		<p>		

     		<%= link_to 'Playlist', musics_path %> 
	</div>
</div>
