<p id="notice"><%= notice %></p>

<p>
  <strong>Band:</strong>
  <%= @music.band %>
</p>

<p>
  <strong>Song:</strong>
  <%= @music.track %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
