<% puts "Rendering guests. guests=#{guests}" %>
<% puts "Rendering guests. cache=#{cache}" %>
<% guests.each_with_index do |g, i| %>
	<% puts "Rendering #{g} (#{g.person})" %>
	<div name="guestContainer" index="<%=i+1%>">
		<div style="cursor:pointer; padding: 10px 0px;" class="glyphicon glyphicon-trash" name="guestDelete" index="<%= (i+1).to_s %>"></div>
	    <label style="padding-left:3px"><%= 'Guest' + (i+1).to_s %></label>
	    <br />
	    <input type="text" value="<%= cache[i+1]['person'].first_name %>" name="guests[persons][<%=i+1%>][first_name]" placeholder="First Name" for="first_name">
		<input type="text" value="<%= cache[i+1]['person'].last_name %>" name="guests[persons][<%=i+1%>][last_name]" placeholder="Last Name" for="last_name">
	</div>
	<br />
<% end %>
<br />
<% puts "Rendered guests COMPLETE" %>