<!DOCTYPE html>
<html>
  <head>
    <title>Weiss Wedding</title>
    <% favicon_link_tag "ring.png" %>
    <%= csrf_meta_tags %>

    <%= puts "Controller: #{params[:controller]}" %>
    <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= yield %>
  </body>
</html>
